<div class="product-container" style="width: 18rem">
  <img
    src="{{ item?.url }}"
    class="card-img-top product-image cursor"
    alt="aaa"
    routerLink="/detail/{{ item?.id }}"
  />
  <div class="card-body">
    <h5 class="card-title cursor" routerLink="/detail/{{ item?.id }}">
      {{ item?.name }}
    </h5>
    <p class="card-text">${{ item?.price }}</p>
    <p class="card-text">{{ item?.description }}</p>
    <p><input type="number" min="1" class="form-control select-input" [(ngModel)]="amount"/></p>
    <button class="btn btn-primary" (click)="addToCart(item?.id);product.emit(item?.name)">Add to cart</button>
  </div>
</div>
