img {
  border-radius: 10px;
  width: 320px;
}

.padding-content {
  padding-left: 60px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.back-link {
  color: rgb(0, 145, 255);
}

.cursor {
  cursor: pointer;
}
