<div class="confirmation-container">
  <div class="confirmation-items">
    <h1 class="confirmation-header">
      Success!
      <img
        src="../../assets/pngegg.png"
        class="card-img-top img-success"
        alt="aaa"
      />
    </h1>
    <p>
      Thank you, <b>{{ billInformation?.name }}!</b>
    </p>
    <p>
      Your <b>${{ billInformation?.totalPrice }}</b> order is confirmed
    </p>
    <p>Please allow 1-3 business day(s) for shipping.</p>
    <button type="button" class="btn btn-primary" routerLink="/">
      Back to product list
    </button>
  </div>
</div>
